/**
Bilder
 */
$number1: url("../img/fee.png");
$number2: url("../img/fisch.png");
$number3: url("../img/flamingo.png");
$number4: url("../img/garnele.png");
$number5: url("../img/katze.png");
$number6: url("../img/loewe.png");
$number7: url("../img/mariakaefer.png");
$number8: url("../img/pingu.png");
$number9: url("../img/qualle.png");
$number10: url("../img/vogel.png");